name: ctf-website-deploy
run-name: deploying website
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v6

      - name: Updating before install
        run: sudo apt update -y

      - name: Installing pandoc and make
        run: sudo apt install pandoc make --yes

      - name: Make artifacts
        run: make all

      - name: Upload artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: public/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to Github pages
        id: deployment
        uses: actions/deploy-pages@v4
